@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: -1;
}

.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-square {
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: rgba(0, 38, 141, 0.233);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px 15px 0 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

.timeValue {
    font-weight: 500;
    margin-top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    user-select: none;
    font-size: 60px;
}

.timeText {
    font-weight: bold;
    margin-top: -10px;
    padding:  10px 10px 10px 10px;
    background-color: rgba(55, 0, 255, 1);
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    color: white;
    user-select: none;
}

#AMPM-text {
    background-color: rgba(55, 0, 255, 1);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 200px;
    color: white;
    user-select: none;
}