<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../scripts/main.js" defer></script>
    <link rel="icon" href="../assets/icon/icon.png">
</head>
<body>
    <div class="clock-container">
        <div class="time-square">
            <p class="timeValue" id="hoursValue">00</p>
            <p class="timeText">HOURS</p>
        </div>

        <div class="time-square">
            <p class="timeValue" id="minutesValue">00</p>
            <p class="timeText">MINUTES</p>
        </div>

        <div class="time-square">
            <p class="timeValue" id="secondsValue">00</p>
            <p class="timeText">SECONDS</p>
        </div>

        <div class="AMPM-square">
            <p id="AMPM-text">AM</p>
        </div>
    </div>
</body>
</html>